* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;

}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(img/back.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.container {
    background: rgba(25, 0, 40, 0.55);
    backdrop-filter: blur(10px);
    color: #fff;
    border: none;
    border-radius: 7px;
    box-shadow: 0 0 25px rgba(120, 0, 255, 0.4);
    width: 20%;
    height: auto;
    min-height: 400px;

    padding: 50px;

}


.baslik {
    text-align: center;
    padding: 0px 0px 20px 0px;
}




.input input {
    padding: 5px;
    margin: 5px;
    border: 1px solid #fff;
    border-radius: 5px;

}


.sosyal {

    margin: 30px 0px;

}

.icon {
    display: flex;
    justify-content: space-between;
    padding: 7px 0px;
    transition: 0.3s ease all;
}

.icon i:hover {
    transform: scale(1.3);
}

.sosyal i {
    color: #ffffff;

    border: none;
    border-radius: 50%;
    font-size: 22px;

}


.btn {
    background: #8a2be2;
    color: #fff;
    padding: 5px;
    width: 80px;
    margin: 5px 0px;
    border: none;
    box-shadow: 0 0 25px rgba(120, 0, 255, 0.4);
    border: none;
    border-radius: 7px;
    transition: 0.3s ease-in-out all;
}

.btn:hover {
    transform: scale(1.1);
    background: #000;
    color: #fff;
    box-shadow: 0px 0px 30px #fff;

}


.btns {
    display: flex;
    justify-content: space-between;
    margin: 15px 0px;
}



.clas{
    padding: 10;
    margin: 20px 0px;
}











@media only screen and (max-width: 600px) {



    .container {
        width: 50%;
        min-height: 450px;
    }

    .input input {
        width: 100%;
    }

    .check {
        display: flex;
        align-items: center;
        gap: 5px;
        font-size: 12px;
    }

    .check p {
        margin-right: 150px;
    }


    .btn {
        width: 50px;
        padding: 1px;
        margin: 3px;
    }
}





@media only screen and (min-width: 600px) {
    .container {
        width: 55%;
    }


    .check {
        display: flex;
        align-items: center;
        gap: 5px;
    }

    .check p {
        margin-right: 150px;
    }

    .input input {
        width: 100%;
    }
}


@media only screen and (min-width: 768px) {
    .container {
        width: 35%;

    }

    .check {
        display: flex;
        align-items: center;
        gap: 5px;
    }

    .check p {
        margin-right: 150px;
    }

}







@media only screen and (min-width: 992px) {
    .container {
        width: 25%;
    }

    .btn {
        padding: 10px;
        width: 100px;
    }

    .input input {
        width: 100%;
        padding: 10px;
    }

    .check {
        display: flex;
        align-items: center;
        gap: 5px;
    }

    .check p {
        margin-right: 150px;
    }





}